/* -------------------COLORS------------------- */

:root {
  --brand-color: #2196f3;
  --second-color: #212121;
  --contacts-color: #757575;
  --brand-dark: #000000;
  --brand-light: #ffffff;
  --background-dark: #2f303a;
  --background-light: #f5f4fa;
}

/* -------------------BODY------------------- */

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--second-color);
  font-weight: 500;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -------------------HEADER------------------- */

.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  /* identical to box height */
  letter-spacing: 0.03em;
}

.header-logo-color-one {
  color: var(--brand-color);
}

.header-logo-color-two {
  color: var(--brand-dark);
}

.header-link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.header-link:hover,
.header-link:focus {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.header-tel {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}

.header-mail {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

/* -------------------INDEX HERO------------------- */
.hero {
  background-color: var(--background-dark);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand-light);
}

.hero-button {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--brand-light);
  cursor: pointer;
}

/* -------------------INDEX BENEFITS------------------- */

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
}

.benefits-after-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

/* -------------------INDEX WEDOING------------------- */

.wedoing-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* -------------------INDEX TEAM------------------- */

.team {
  background-color: var(--background-light);
}

.team-item {
  width: 270px;
  height: 368px;
  background: var(--brand-light);
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name-surname {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin: 30px auto 10px auto;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: --contacts-color;
  margin: 10px auto 30px auto;
}

/* -------------------PORTFOLIO------------------- */

.portfolio-button {
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background: var(--brand-color);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--brand-light);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

.portfolio-after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

/* -------------------FOOTER------------------- */

.footer {
  background-color: var(--background-dark);
}

.footer-adress {
  font-style: normal;
}

.footer-location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--brand-light);
}

.footer-mail,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.footer-logo-color-one {
  color: var(--brand-color);
}

.footer-logo-color-two {
  color: var(--brand-light);
}
